* {
    z-index: 0;
}
.container {
    margin-bottom: 30px;
}

body {
    background-color: hsl(171, 100%, 41%);
}

#all-search-container {
    background-image: url("../images/hiking.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}

#park-info-container {
    height: auto;
}

#results-card {
    height: auto;
}

.arrow-buttons {
    margin-top: 5px;
}

#search-holder {
    margin-bottom: 20px;
}

#image {
    border: 2px solid gray;
}

#history-container {
    margin-bottom: 20px;
}

