
* {
    z-index: 0;
}

body {
    background-color: rgb(83, 97, 71);
}

header {
    background-image: linear-gradient(to right, rgb(83, 97, 71) , rgb(0, 0, 0));
}

footer {
    background-image: linear-gradient(to right, rgb(83, 97, 71) , rgb(0, 0, 0));
    margin-top: 10px;
    
}


#tagline {
    font-family: 'Shadows Into Light', cursive;
}

#all-search-container {
    background-image: url("../images/hiking.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}


#day-card {
    margin-bottom: 11px;
}


#park-info-container {
    height: auto;
}

#park-name {
    background-color: rgb(83, 97, 71);
    color:white;
    font-family: 'Alegreya Sans', sans-serif;
}

#results-card {
    height: auto;
}

.arrow-buttons {
    margin-top: 5px;
}

#search-holder {
    margin-bottom: 20px;
}

#image {
    border: 2px solid gray;
}

#history-container {
    margin-bottom: 20px;
}

li {
    cursor: pointer;
}

.logo-container {
    padding: 0;
    padding-right: 5px;
}

.logo {
     max-width: 95px;
}

.foot-logo {
    max-width: 95px;
    max-height: 50px;
    margin: 30px 30px 10px 10px;
}

.footer-text {
    margin: 15px 0px 0px 30px;
}

.footer-text p, a{
    color: grey;
}
/* pseudo (hover) style start */

li:hover {
    background-color: hsl(171, 41%, 80%);;
    opacity: 0.8; 
    font-weight: bold; 
}

/* Media query for mobile phones and smaller */
@media screen and  (max-width: 767px) {
    .logo-container {
        visibility: hidden;
    }
    .logo {
        width: 0px;
    }

    .header-text .is-1 {
        font-size: 28px;
        text-align: center;
    }
    .header-text .is-3 {
        font-size: 20px;
        text-align: center;
    }
    .hero-body {
        height: auto;
        padding: 10px;
    }

}


